<!DOCTYPE html>
<html>
<head>
  <title>SocImp</title>
  <%= stylesheet_link_tag    "soc_imp/application", :media => "all" %>
  <%= javascript_include_tag "soc_imp/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
